<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'santacruz_producao:index_sp' %}">
    <div class="sidebar-brand-text mx-3"><img  src="http://10.41.12.31/siof/img/logo2.png" width="190px"></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'santacruz_producao:index_sp' %}">
      <i class="fas fa-fw fa-align-center"></i>
      <span>Resumo do sistema</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Menu Principal
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-print"></i>
      <span>Cadastros:</span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Opções :</h6>
        <a class="collapse-item" href="{% url 'santacruz_producao:cad_usuarios' %}">Cadastro de usuários</a>
        <a class="collapse-item" href="{% url 'santacruz_producao:cad_codelist' %}">Cadastro de codelist</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Exclusões:</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Opções :</h6>
        <a class="collapse-item" href="{% url 'santacruz_producao:exc_usuarios' %}">Exclusão de usuários</a>
        <a class="collapse-item" href="{% url 'santacruz_producao:exc_codelist' %}">Exclusão de codelist</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-print"></i>
      <span>Consulta de Codelist:</span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Opções :</h6>
        <a class="collapse-item" href="{% url 'santacruz_producao:cons_codelists' %}">Consultar</a>
      </div>
    </div>
  </li>


  <hr class="sidebar-divider">
  <!-- Nav Item - Charts
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

   Nav Item - Tables
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

     Divider
  <hr class="sidebar-divider d-none d-md-block">

   Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>